/.Amenaza.java._trace
/.Antiheroe.java._trace
/.Ataque.java._trace
/.BusinessException.java._trace
/.DesastreNatural.java._trace
/.Entidad.java._trace
/.Equipo.java._trace
/.Heroe.java._trace
/.Item.java._trace
/.ItemCompuesto.java._trace
/.ItemSimple.java._trace
/.ItemUpdater.java._trace
/.Mejora.java._trace
/.RepoEquipo.java._trace
/.RepoIndividuo.java._trace
/.RepoItem.java._trace
/.Repositorio.java._trace
/.RepositorioException.java._trace
/.SuperIndividuo.java._trace
/.TipoDeIndividuo.java._trace
/.Villano.java._trace
